<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>about</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cantata+One&family=Fredericka+the+Great&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../Styles/style.css" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <h1>Portfolio</h1>
        <div class="container" onclick="toggleNav()">
          <div class="ham"></div>
          <div class="ham"></div>
          <div class="ham"></div>
          <span class="no">&#10005;</span>
        </div>

        <nav class="nav">
          <a href="../../index.html">Home</a><a href="about.html">About</a
          ><a href="skills.html">Skills</a><a href="projects.html">Projects</a
          ><a href="contact.html">Contact</a>
        </nav>
      </nav>
    </header>

    <div class="main-body2" id="animated-text">
      <div class="pic"><img src="../images/Profile.png" alt="Profile pic"></div>
      <h2 class="heading" id="name">Ranjan N</h2>
      <div class="list">
        <div>
          <h3>Hello!</h3>
          <p>I'm Ranjan, a student of Computer Science specializing in Artificial Intelligence & Machine Learning at Siddaganga Institute of Technology. <br> My passion lies in programming, particularly in Java. Beyond coding, I'm captivated by Java's versatility and its role in shaping modern technology.</p>
            <p>I'm currently expanding my skills in AI and ML.</p>
            
          <p>Thank you for visiting my portfolio. Let's connect and discuss how we can collaborate on exciting new opportunities!</p>
        </div>
        <div>
          <h3>Problem Solving</h3>
          <p>I practice problem solving on the following platforms:</p>
          <ul>
            <li>
                <a href="https://leetcode.com/ranjann2004">
                    <img src="../images/leetcode.png" alt="LeetCode" class="logo"> LeetCode
                </a>
            </li>
            <li>
                <a href="https://codeforces.com/profile/Ranjan_N">
                    <img src="../images/codeforces.png" alt="CodeForces" class="logo"> CodeForces
                </a>
            </li>
            <li>
                <a href="https://www.hackerrank.com/profile/1SI22CI064">
                  <img src="../images/hackerrank.png" alt="HackerRank" class="logo">
                  HackerRank  
                     </a>
            </li>
        </ul>
        
          <p>You can check out my profile on these platforms!</p>

        </div>
        <div>
          <h3>Hobbies</h3>
          <p>I usually code, play video games,listen to songs, play Shuttle Badminton</p>
        </div>
    </div>
    <script src="../Scripts/index.js"></script>
  </body>
</html>
