<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ranjan.N_Portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cantata+One&family=Fredericka+the+Great&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../Styles/style.css" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <h1>Portfolio</h1>
        <div class="container" onclick="toggleNav()">
          <div class="ham"></div>
          <div class="ham"></div>
          <div class="ham"></div>
          <span class="no">&#10005;</span>
        </div>

        <nav class="nav">
          <a href="../../index.html">Home</a><a href="about.html">About</a
          ><a href="skills.html">Skills</a><a href="projects.html">Projects</a
          ><a href="contact.html">Contact</a><a href="about.html"></a>
        </nav>
      </nav>
    </header>

    <div class="main-body2" id="animated-text">
      <h2 class="heading">Contact </h2>
      <div class="list">
        <div>
          <h3>You can reach me through :</h3>
          <ul>
            <li><a href="https://github.com/Ranjan-n">GitHub <i class="fa-brands fa-github"></i></a></li>
            <li><a href="https://www.linkedin.com/in/ranjan-n/">Linkedin <i class="fa-brands fa-linkedin"></i></a></li>
            <li><a href="https://x.com/Ranjan_N07?t=ZzmrzkEz8BOFIYp8TLmO5A&s=08">Twitter <i class="fa-brands fa-square-x-twitter"></i></a></li>
            <li><a href="mailto:ranjann2004@gmail.com">ranjann2004@gmail.com <i class="fa-solid fa-envelope"></i></a></li>
          </ul>
        </div>
    </div>
    <script src="../Scripts/index.js"></script>
  </body>
</html>
