<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>projects</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cantata+One&family=Fredericka+the+Great&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../Styles/style.css" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <h1>Portfolio</h1>
        <div class="container" onclick="toggleNav()">
          <div class="ham"></div>
          <div class="ham"></div>
          <div class="ham"></div>
          <span class="no">&#10005;</span>
        </div>

        <nav class="nav">
          <a href="../../index.html">Home</a><a href="about.html">About</a
          ><a href="skills.html">Skills</a><a href="projects.html">Projects</a
          ><a href="contact.html">Contact</a>
        </nav>
      </nav>
    </header>

    <div class="main-body2" id="animated-text">
      <h2 class="heading">Projects</h2>
      <div class="list">
        <div>
          <h3>Web Development</h3>
          <ul>
            <li>
              <a href="https://ranjan-n.github.io/Portfolio">Portfolio</a>
              -<span class="stack"> (CSS, JAVASCRIPT)</span>
            </li>
            <li>
              <a href="https://ranjan-n.github.io/Simon-Game/">Simon Game</a>
              -<span class="stack"> (JAVASCRIPT)</span>
            </li>
            <li>
              <a href="https://ranjan-n.github.io/Drum-Kit/">Drum Kit</a> -<span
                class="stack"
              >
                (JAVASCRIPT)</span
              >
            </li>
            <li>
              <a href="https://ranjan-n.github.io/Price_panel/">Price Panel</a>
              -<span class="stack"> (HTML, CSS)</span>
            </li>
            <li>
              <a href="https://ranjan-n.github.io/Tin-Dog-Project/"
                >Tin Dog Project</a
              >
              -<span class="stack"> (BootStrap)</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <script src="../Scripts/index.js"></script>
  </body>
</html>
